<!--The content below is only a placeholder and can be replaced.-->
<!-- nav -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<nav class="navbar-custom navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" routerLink="/home"><img src="/assets/images/logo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link link" routerLink="/login">Employee<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link link" routerLink="/login">Manager</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link" routerLink="/login">HR</a>
      </li>
    </ul> -->
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn-custom btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>

<!-- main content container -->
  <div class="container-fluid global">
      <div class="row">
          <div class="col-sm-12">
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>

  <div class="container-fluid">
    <div class="row footer">
      <div class="col-sm d-flex justify-content-center">
          © 2019 All Copyrights Reserved
      </div>
    </div>
  </div>





